.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;

}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.registerForm>label{
    margin: 10px 0;

}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightseagreen;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerLoginButton{
    position:absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    background-color: lightseagreen;
    border: none;
    padding: 10px;color: white;
    border-radius: 10px;
}